html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.navbar {
    background-color: #51a0f0;
}

button {
    font-size: 17px;
    cursor: pointer;
    border: none;
    transition: all .5s ease-in-out;
}

button:hover {
    transform: scale(1.2);
    opacity: 0.8;
    text-decoration: none;
}

button:active {
    opacity: 0.5;
} 

button:focus {
    outline: none;
}

.nav-btn {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.info-btn {
    font-size: 15px;
    color: #fafbfc;
    background-color: #51a0f0;
    text-decoration: none;
    padding:0.4em 1em;
    border-radius: 8px;
}

.privacy-anchor {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

body {
    background-color: #fafbfc;
    margin-bottom: 60px;
}

* {
    font-family: Lato, serif;
}

h2 {
    padding-top: 1rem;
}
